* {
    border: none;
    border-radius: 0;
    font-family: "SpaceMono Nerd Font Mono", "IBM Plex Mono", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    /*background: #093D5B;*/ /*rgba(20, 16, 33, 0.7);*/ /*#284c51;*/ /*#190b28;*/ /*rgba(43, 48, 59, 0.5);*/
    background: #4e342e;
    /*border-bottom: 3px solid rgba(175, 175, 175, 0.4);*/
    color: #ffffff;
}

window#waybar.hidded {
    opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0;
    border: 0;
    background: transparent;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
    background: #694f47;
    min-width: 0;
}

#workspaces button label {
    margin: 0 4px;
}

#workspaces button.focused {
    /*background: #64727D;*/
    color: black;
    background: #BEEF71;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background: #64727D;
    border-top: 3px solid #ffffff;
}

#window {
    padding: 0 8px;
    margin: 0 4px;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor, #custom-netinfo {
    /*color: #ffffff;
    background: transparent;*/
    background: #694f47;
    color: white;
    padding: 0 8px;
    margin: 0 2px;
    border-bottom: 3px solid transparent; /* rgba(188, 188, 188, 0.5);*/
}

#battery.BAT0, #cpu {
    margin-right: 0;
}

#battery.wacom, #memory {
    margin-left: 0;
}

/*#tray {
    -gtk-icon-effect: dim;
}*/

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #c16772;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

