/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #ffcc2c;
    color: #5f0e05;
    font-family: Iosevka Tacos, Cantarell, Noto Sans, sans-serif;
    font-size: 13px;
    border-bottom: 5px solid #5f0e05;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

/* Each module */
#battery,
#backlight,
#clock,
#cpu,
#custom-keyboard-layout,
#custom-netinfo,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces button {
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fbac05;
    color: #5f0e05;
    /*border-bottom: 2px solid #5f0e05;*/
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 7px;
	min-width: 20px;
}

#window,
#custom-waybar-mpris {
    margin-top: 2px;
    margin-bottom: 7px;
}

#workspaces button {
    padding: 0;
}

#workspaces button.focused {
    color: #ffcc2c;
    /*color: #fbac05;*/
    background: #5f0e05;
}

#workspaces button.urgent {
    background: #f73141;
    color: #ffcc2c;
}

#tray widget {
    padding: 0;
    margin: 0;
}

#tray widget image {
	background: #5f0e05;
	border-radius: 13px;
	padding-left: 2px;
	padding-right: 2px;
    min-width: 0;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-bottom: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
  padding-right: 10px;
  padding-left: 10px;
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

